/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Yugioh;
  src: url("Yu-Gi-Oh!MatrixSmallCaps1.ttf") format("truetype");
}

/* Apply styles to the body */
body {
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

lightbox-image {
  width: 100vw;
}
header {
  font-family: "Yugioh", sans-serif;
  font-size: 2.8rem;
  line-height: 0.8em;
  color: #000000;
  font-weight: lighter;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  flex-direction: row;
  align-items: center;
}

/* Header styles */
p {
  font-family: Times, serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.04em;
}

em {
}
h2 {
  font-family: "Yugioh", sans-serif;
  font-size: 2.4rem;
  line-height: 0.8em;
  color: #000000;
  font-weight: lighter;
  z-index: 2; /* Ensure h2 appears in front of the image grid */
  text-shadow: #fff 0px 0px 3px;
  -webkit-text-stroke: 1px white;
  paint-order: stroke fill;
}
a {
  font-family: Times, serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  color: #aaa;
  text-decoration: none;
  letter-spacing: 0.05em;
  overflow-wrap: break-word;
}

h2 a:hover,
h2 a:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content img {
}

.modal {
  text-align: left;
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1rem 1rem;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

.close {
  color: #aaa;
  float: top;
  font-size: 2.8rem;
  font-weight: normal;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-info {
  text-align: left;
  margin-top: 10px;
}

.image-info p {
  margin: 0;
}

/* Main content area styles */
.content {
  margin: 30px auto;
  padding: 0 0;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.documentation-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  margin: -30.5px;
  padding-top: 7rem;
  flex-direction: row;
}

/* Grid layout for images */
.documentation-image,
.edition-image {
  max-width: 100vw;
  max-height: 85vh;
}

.navigation-buttons {
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
}

/* Style for individual images */
.documentation-image img,
.edition-image img {
  width: 100%;
  height: auto;
}

/* Additional styles can be added as needed */
.mapboxgl-ctrl-bottom-right {
  right: -100px;
  bottom: -100px;
}

a.mapboxgl-ctrl-logo {
  width: 0px;
  height: 23px;
  margin: 0 0 -4px -4px;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}

.mapboxgl-popup-content {
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  margin: -4px;
  padding: 20px;
  width: 280px;
}

.trun-about {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 6; /* number of lines to show */
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  top: 17px !important; /* Add !important to override conflicting styles */
  left: 0 !important; /* Add !important to override conflicting styles */
}

#map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Place the left edge of the map at the horizontal center */
  width: 100%; /* Adjust the width of the map as needed */
  height: 100%;
  z-index: -1;
  overflow: hidden; /* Ensure map content doesn't scroll */
}

.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}

.enlarged img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.card-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.mapboxgl-popup-close-button {
  position: absolute;
  right: 0;
  display: none;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
}

/* Your CSS styles here */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px; /* Place content 60px from the top */
}

.modal-content {
  background-color: #fefefe;
  width: 100%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: top;
  font-size: 1.5rem;
  font-weight: normal;
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
}
/* Add hover effect for the SVG icon */
.close svg path {
  fill: #aaa; /* Initial color */
}

.close:hover svg path {
  fill: black; /* Color on hover */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* CSS styles to make table look like paragraphs */
table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}
table th,
table td {
  font-family: Times, serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.04em;
  padding: 0px;
  text-align: left;
}
table th {
  font-family: Times, serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  letter-spacing: 0;
  letter-spacing: 0.04em;
  padding-bottom: 5px;
}
table tr:nth-child(even) {
  background-color: white;
}
table tr:hover {
  background-color: white;
}

nav {
  font-family: "Yugioh", sans-serif;
  font-size: 2.4rem;
  line-height: 0.8em;
  color: #000000;
  font-weight: lighter;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0;
  z-index: 999;
}
nav.open {
  width: 100%;
}
.menu-toggle {
  cursor: pointer;
  display: block;
  font-weight: normal;
  font-size: 2.4rem;
  text-shadow: #fff 0px 0px 3px;
  -webkit-text-stroke: 1px white;
  paint-order: stroke fill;
}
.menu-content {
  padding: 60px 30px;
}
.menu-sections a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: black;
  transition: 0.1s;
}
.menu-sections a:hover {
  color: gray;
}

.footer {
  font-family: Times, serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  color: #aaa;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0px;
}

button {
  font-family: Times, serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  letter-spacing: 0;
  letter-spacing: 0.05em;
  align-items: center;
  padding-right: 10px;
  white-space: nowrap;
  border: 0px solid #fff;
  text-decoration: none;
  background: white;
  color: #aaa;
}

button:hover,
button:active {
  color: black;
}

.content h2 {
  font-family: "Yugioh", sans-serif;
  font-size: 2.4rem;
  line-height: 0.8em;
  color: #000000;
  font-weight: lighter;
  z-index: 10; /* Ensure h2 appears in front of the image grid */
  position: relative; /* Required for z-index to work */
  text-shadow: #fff 0px 0px 5px;
}

/* Media query for screens smaller than 768px (typical mobile phones) */
@media only screen and (max-width: 768px) {
}

.modal-text {
}

/* Styles for Accordion */
.accordion {
  cursor: pointer;
  padding-top: 3px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: white;
}

.panel {
  padding: 0 0;
  display: none;
  background-color: white;
  overflow: hidden;
}

.artist-list {
  padding: 0 2rem;
}

.artist-list h2 {
  margin: 5px 0;
}

/* Add styles for clickable artist names */
.artist-list a {
  font-family: "Yugioh", sans-serif;
  font-size: 2.4rem;
  line-height: 0.6em;
  color: #000000;
  font-weight: lighter;
  z-index: 2; /* Ensure h2 appears in front of the image grid */
  text-shadow: #fff 0px 0px 5px;
}

.artist-list a:hover {
}

.menu-sections a:hover {
  color: black;
}

.accordion:hover {
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font-family: Times, serif;
  font-size: 1.2rem;
  line-height: 1.2em;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 20px auto;
  border-radius: 5px;
}

#mc_embed_signup input[type="email"] {
  font-family: Times, serif;
  font-size: 0.8rem;
  line-height: 1.2em;
  color: #aaa;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 10px auto;
  padding: 6px;
}

#mc_embed_signup .button {
  background-color: white;
  font-family: Times, serif;
  font-size: 0.8rem;
  line-height: 1.2em;
  color: #aaa;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  padding: 0.15rem 0.35rem 0.15rem;
}

#mc_embed_signup .button:hover {
  background-color: white;
  color: black;
}
